.contents
  - @tweets.each do |tweet|
    .content
      .name
        = link_to "#{tweet.user.name}", "/users/#{tweet.user_id}", class: "link__name"
      %p.text
        = tweet.text
        - if tweet.image.present?
          = image_tag "#{tweet.image}"
      = render 'shared/menu_bar', tweet: tweet
  = paginate @tweets
