.contents
  .content
    .name
      = link_to "#{@tweet.user.name}", root_path, class: "link__name"
    %p.text
      = @tweet.text
      - if @tweet.image.present?
        = image_tag "#{@tweet.image}"
    %hr
    .comments
      %p.comment
        コメント一覧
      - if @comments
        - @comments.each do |comment|
          .comment__name
            = comment.user.name
          .comment__text
            = comment.text
          - if comment.image.present?
            = image_tag "#{comment.image}"
      = form_for [@tweet, @comment] do |f|
        = f.text_area :text, placeholder: "コメント", class: "comment__field"
        = f.label :image, class: "comment__image" do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit "投稿", class: "comment__send"

