.user__name
  = @user.name
- if @tweets
  - @tweets.each do |tweet|
    .user
      .user__tweet
        = tweet.text
        = image_tag "#{tweet.image}"
      = render partial: 'shared/menu_bar', locals: { tweet: tweet }
