%ul.lists
  - if user_signed_in?
    - if current_user.id == tweet.user_id
      %li.lists__title
        = link_to "コメント", "/tweets/#{tweet.id}", class: "link"
      %li.lists__title
        = link_to "編集", "/tweets/#{tweet.id}/edit", class: "link"
      %li.lists__title.delete
        = link_to "削除", "/tweets/#{tweet.id}", method: :delete, class: "link"
    - else
      %li.lists__title
        = link_to "コメント", "/tweets/#{tweet.id}", class: "link"
