%header.header
  .header__title
    = link_to "TEAM BLOG", root_path, class: "header__link"
  .search
    = form_tag(users_path, method: :get, class: 'search__form') do
      %input.search__quely{ placeholder: '検索したいユーザー名を入力してください', type: 'keyword'}
    / %button.search__button
    /   = fa_icon 'search', class: 'search__icon'
    .search__result
  %ul.header__menue
    - if user_signed_in?
      %li.header__list
        = link_to "マイページ", "/users/#{current_user.id}", class: "link__menue"
      %li.header__list
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link__menue"
      %li.header__list
        = link_to "投稿", new_tweet_path, class: "link__menue"
    - else
      %li.header__list
        = link_to "新規登録", new_user_registration_path, class: "link__menue"
      %li.header__list
        = link_to "ログイン", new_user_session_path, class: "link__menue"
